/* dark-mode.css */
.custom-dark-mode body {
    background-color: #333; /* Dark grey background color */
    color: white; /* Set text color to white */
}

.custom-dark-mode .container, .custom-dark-mode .basic-info {
    background-color: #222; /* Slightly darker background */
    color: white; /* Set text color to white */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.custom-dark-mode body .btn-outline-primary {
    color: white; /* Set toggle button text color to white */
}

