body.dark-mode {
    background-color: #001f3f; /* Dark blue */
}

.container, .basic-info {
    background-color: black; 
    border-radius: 10px; /* Rounded corners for the content box */
    padding: 20px; /* Add padding inside the content box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the content box */
    margin-top: 20px; /* Add a margin between the content box and the body */
}

/* Set specific element text color to white */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode a,
body.dark-mode li {
    color: white;
}


