/* styles.css */
h1, h2, p {
    text-align: center;
}

body {
    width: 75%;
    background-color: turquoise; /* Ocean blue background color */
    margin: 0 auto; /* Center the body horizontally */
    padding: 20px; /* Add padding to create a clear margin around the body */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.container, .basic-info {
    background-color: white; /* White background for the content box */
    border-radius: 10px; /* Rounded corners for the content box */
    padding: 20px; /* Add padding inside the content box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the content box */
    margin-top: 20px; /* Add a margin between the content box and the body */
}

.centered-img {
    display: block;
    margin: 0 auto;
    margin-top: 50px; /* Add margin to the top of the image */
}

.btn-outline-danger, p {
    margin-top: 30px; /* Add margin between sections */
}

.container {
    margin-top: 50px; /* Add margin to create space between heading and toggle */
}